<div class="play-series-main">
    <h4 class="text-white pb-5">About Us</h4>
    <div class="">
        <div class="row no-gutters">
            <div class="col-auto mr-3">
                <img src="assets/img/breating-bad-hrizon-play.jpg">
            </div>
            <div class="col align-content-end">
                <div class="card-block px-2 text-white">
                    <div>
                    Summery:A high school chemistry teacher diagnosed with inoperable lung cancer turns to 

                    manufacturing and selling methamphetamine in order to secure his family's future.
                    </div>
                    <div> Casts:Vince Gilligan

                    </div>
                    <div>  Vince Gilligan :Bryan Cranston , Anna Gunn , Aaron Paul , Dean Norris , Betsy Brandt , RJ Mitte
                        Bob Odenkirk , Giancarlo Esposito , Jonathan Banks , Laura Fraser , Jesse Plemons

                    </div>
                   
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    </div>
    