.play-series-main{
    width: 68%;
    max-width: 68%;
    margin: 0 auto;
    padding-top: 11.5%;
    .no-gutters, h5{
      
        img{
            width: 271px;
            height: 166px;
            border-radius: 15px;   
           }
        .card-block{
            .text-gold{
                color: #fcc537;
            }
        }
    }
    
}
