<div class="play-series-main">
<div class="">
    <div class="row no-gutters">
        <div class="col-auto mr-3">
            <img src="assets/img/breaking-bad-thubnail.jpg">
        </div>
        <div class="col align-content-end">
            <div class="card-block px-2">
                <h2 class="card-title text-white">Breaking Bad: S3 E6</h2>
                <div class="text-white">Series</div>
        <div class="text-gold">9.4</div>
        <div class="text-white">43 Minutes - USA</div>
        <div class="mt-1 mb-1"> <a class="actionbtn">Action </a> </div>
        <div class="text-white">A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing 

            and selling methamphetamine in order to secure his family's future.</div>
            </div>
        </div>
    </div>
</div>

</div>
